#job {
  background-color: lightsteelblue!important;
  height: 150px
}

#why {
  background-image: url(https://images.pexels.com/photos/92904/pexels-photo-92904.jpeg?cs=srgb&dl=macbook-pro-92904.jpg&fm=jpg);
  height: 300px;
  background-size: contain;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#education {
  background-image: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?cs=srgb&dl=accomplishment-ceremony-education-graduation-267885.jpg&fm=jpg);
  height: 300px;
  background-size: contain;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 100px
}

.panel {
  background-color: white;
  border: 0;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  color: black;
}

.homepage {

}

.jumbotron h1 {
  text-align: center;
}

.jumbotron h2 {
  text-align: center;
}


.jumbotron {
  padding-bottom: 10px;
}

#home {
  text-align: center;

}

#head {
  margin-top: 50px;
  margin-bottom: 100px;

}

#about-head {
  background-image: url(https://images.pexels.com/photos/1438884/pexels-photo-1438884.jpeg?cs=srgb&dl=concrete-bridge-1438884.jpg&fm=jpg);
  height: 300px;
  text-align: left;
  padding-right: 50px;
  background-size: contain;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-box {
  padding: 10px;
  padding-bottom: 10%;
  min-height: 200px;
  border: 0;
}

#about-body {
  font-size: 20px;
}

#about-likes {
  background-image: url(https://images.pexels.com/photos/1903935/pexels-photo-1903935.jpeg?cs=srgb&dl=man-sitting-under-cable-car-1903935.jpg&fm=jpg);
  height: 300px;
  text-align: right;
  padding-right: 50px;
  background-size: contain;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#project1 {
  background-color: lightsalmon!important;
}

#project2 {
  background-color: lightsteelblue!important;
}

#project3 {
  background-color: lightseagreen!important;
}