.jumbotron h1 {
  text-align: center;
}

.jumbotron h2 {
  text-align: center;
}


}

.jumbotron {
  padding-bottom: 10px;
}

#home {
  text-align: center;

}

#header {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: bisque;
}